.page-header {
  position: relative;
  border-bottom: 1px solid #ececec;
}
.page-header .nav-link:hover,
.page-header .nav-link:focus {
  color: $accent-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

// Mobile Menu - Burger -->

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  & .icon-cross {
    display: none;
  }
}

.menu-button.is-open {
  & .icon-cross {
    display: block;
  }

  & .icon-menu {
    display: none;
  }
}

.menu-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 20px;
  text-align: center;
  background: #919114;
  height: 393px;

  &.is-open {
    display: block;
  }
}
