.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('../images/hero/mobile/Header480.jpg');
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    background-image: url('../images/hero/mobile/Header480@2x.jpg');
  }

  width: 100%;
  height: 400px;
  padding: 118px 0px;
  background-color: #c4c4c4;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

  @include for-size(tablet-portrait) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url('../images/hero/tablet/Header768.jpg');
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    background-image: url('../images/hero/tablet/Header768@2x.jpg');
  }

  @include for-size(desktop) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url('../images/hero/desktop/Hero-optmz.jpg');
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    background-image: url('../images/hero/desktop/Header1600@2x.jpg');
  }
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  padding-left: 45px;
  padding-right: 45px;

  // @include for-size(tablet-landscape) {
  //   padding-left: 190px;
  //   padding-right: 190px;
  // }

  // @include for-size(desktop) {
  //   padding-left: 435px;
  //   padding-right: 435px;
  // }

  // width: 696px;
  // height: 120px;
  font-weight: 900;
  // font-size: 44px;
  font-size: 26px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $white-color;
}

.hero-button {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  min-width: 200px;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.06em;
  background: #2196f3;
  color: #ffffff;
}
.container-hero {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1199px) {
  .hero-title {
    max-width: 360px;
    font-size: 26px;
    line-height: 1.62;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
}
